In [1]:
from opconNosepokeFunctions import *
from supplementaryFunctions import *

In [2]:
animal = 'Vulpix'
expt = '4portProb'
box = 'Box8'
date = '20240810'

In [3]:
from datetime import datetime
# Convert to datetime object
date_obj = datetime.strptime(date, "%Y%m%d")

# Convert to desired format
formatted_date = date_obj.strftime("%Y-%m-%d")

# generate dat_df

In [4]:
files = exclude_files(get_files(f"L:/4portProb/{box}/{animal}/"))
date_dat = '2024-08-09'
files = [file for file in files if (file >=f'{animal}-{date_dat}*.dat')]
files.sort()
 
raw_dat_df = merge_files_to_df(files)
raw_dat_df.eptime = raw_dat_df.eptime.astype(int)
#dat_df = dat_df.sort_values(by = ['eptime'], kind = 'stable')
raw_dat_df['human_time'] = pd.to_datetime(raw_dat_df.eptime, unit='s')

In [5]:
raw_dat_df.head()

,event,value,sm,tp,smtime,eptime,dw,ww,gpio_lick,human_time
0,17,0,17,0,581,1723230237,0,0,5.0,2024-08-09 19:03:57
1,16,0,17,0,581,1723230237,0,0,5.0,2024-08-09 19:03:57
2,15,0,17,0,581,1723230237,0,0,5.0,2024-08-09 19:03:57
3,14,0,17,0,581,1723230237,0,0,5.0,2024-08-09 19:03:57
4,3,0,17,0,581,1723230237,0,0,5.0,2024-08-09 19:03:57

In [6]:
toneStartMarker = 23
trialStartMarker = 81
trialHitMarker = 51
trialMissMarker = 86
trialUnrewMarker = 87
sessionStartMarker = 61
stateSwitchMarker = 62
rewardProbMarker = 83
trialProbMarker = 88
unstrSessionMarker = 13
strSessionMarker = 12
list_nosePokeMarker = [18,19,20,21,20,17,37] #[18,19,20,21] 
list_sessionMarker = [unstrSessionMarker, strSessionMarker]

list_events = [trialStartMarker, trialHitMarker, trialMissMarker, trialProbMarker, sessionStartMarker,
                   trialProbMarker, rewardProbMarker,stateSwitchMarker]

# filter events as np array to increase speed and avoid repetitive indexing
filtered_events = raw_dat_df[(raw_dat_df['sm'].isin(list_sessionMarker))]
filtered_events = filtered_events[(filtered_events['event'].isin(list_events)) | filtered_events['event'].isin(list_nosePokeMarker)]
#indices = np.where((filtered_events[:, 0] == trialStartMarker) | (filtered_events[:, 0]==sessionStartMarker) | (filtered_events[:, 0]==rewardProbMarker))[0]

In [ ]:
filtered_events.head(40)

In [7]:
# Assuming df is your DataFrame
filtered_events['eptime_adjusted'] = filtered_events['eptime'].astype(float)  # Ensure eptime is float

session_start = None
for index, row in filtered_events.iterrows():
    if row['event'] == 61:  # Session start
        session_start = row['eptime']  # Capture the eptime at session start
        filtered_events.at[index, 'eptime_adjusted'] = row['eptime']  # Keep the same eptime for session start row
    elif row['event'] == 62:  # Session end
        session_start = None  # Reset session start when session ends

    if session_start is not None and row['event'] != 61:
        # Adjust eptime by adding smtime (converted to seconds) to the session start eptime
        filtered_events.at[index, 'eptime_adjusted'] = session_start + (row['smtime'] / 1000)  # smtime in seconds

In [8]:
#filtered_events['eptime_adjusted'] = filtered_events['eptime_adjusted'].apply(lambda x: f"{x:.6f}")
pd.options.display.float_format = '{:.4f}'.format
filtered_events[filtered_events['eptime'] > 1723316395].head(20)

,event,value,sm,tp,smtime,eptime,dw,ww,gpio_lick,human_time,eptime_adjusted
57109,61,1,13,0,0,1723316411,1,2001,5.0000,2024-08-10 19:00:11,1723316411.0000
57114,83,1,13,0,46,1723316411,1,2001,5.0000,2024-08-10 19:00:11,1723316411.0460
57115,83,2,13,0,10,1723316411,1,2001,5.0000,2024-08-10 19:00:11,1723316411.0100
57116,83,3,13,0,80,1723316411,1,2001,5.0000,2024-08-10 19:00:11,1723316411.0800
57117,83,4,13,0,15,1723316411,1,2001,5.0000,2024-08-10 19:00:11,1723316411.0150
57154,21,1,13,0,196931,1723316608,1,2001,5.0000,2024-08-10 19:03:28,1723316607.9310
57156,81,1,13,0,196932,1723316608,1,2001,5.0000,2024-08-10 19:03:28,1723316607.9320
57157,88,46,13,0,196932,1723316608,1,2001,5.0000,2024-08-10 19:03:28,1723316607.9320
57160,21,0,13,0,197688,1723316608,1,2001,5.0000,2024-08-10 19:03:28,1723316608.6880
57163,86,1,13,0,198894,1723316610,1,2001,5.0000,2024-08-10 19:03:30,1723316609.8940
57188,21,1,13,0,377729,1723316789,1,2001,5.0000,2024-08-10 19:06:29,1723316788.7290
57190,81,1,13,0,377730,1723316789,1,2001,5.0000,2024-08-10 19:06:29,1723316788.7300
57191,88,46,13,0,377730,1723316789,1,2001,5.0000,2024-08-10 19:06:29,1723316788.7300
57193,21,0,13,0,378078,1723316790,1,2001,5.0000,2024-08-10 19:06:30,1723316789.0780
57196,21,1,13,0,378509,1723316790,1,2001,5.0000,2024-08-10 19:06:30,1723316789.5090
57198,21,0,13,0,378664,1723316790,1,2001,5.0000,2024-08-10 19:06:30,1723316789.6640
57200,21,1,13,0,378732,1723316790,1,2001,5.0000,2024-08-10 19:06:30,1723316789.7320
57202,21,0,13,0,379375,1723316791,1,2001,5.0000,2024-08-10 19:06:31,1723316790.3750
57204,19,1,13,0,382273,1723316794,1,2001,5.0000,2024-08-10 19:06:34,1723316793.2730
57206,86,1,13,0,383231,1723316795,1,2001,5.0000,2024-08-10 19:06:35,1723316794.2310

In [23]:
# for debugging only
specific_date = '2024-05-21'
start_time = '19:00:00'
end_time = '19:59:59'
fil_events = filtered_events[
    (filtered_events['human_time'].dt.date == pd.to_datetime(specific_date).date()) #&
    #(filtered_events['human_time'].dt.time >= pd.to_datetime(start_time).time()) &
    #(filtered_events['human_time'].dt.time <= pd.to_datetime(end_time).time()) #&
    #(master_trial_pokes_df['eptime'] >= 1716418890) &
    #(master_trial_pokes_df['eptime'] <= 1716418910)
]

fil_events[fil_events['event'].isin([])]

,event,value,sm,tp,smtime,eptime,dw,ww,human_time
3287504,37,1,13,0,6905,1716260418,2992.0,187.0,2024-05-21 03:00:18
3287509,37,0,13,0,6934,1716260418,2992.0,187.0,2024-05-21 03:00:18
3287511,37,1,13,0,7004,1716260418,2992.0,187.0,2024-05-21 03:00:18
3287514,37,0,13,0,7836,1716260419,2992.0,187.0,2024-05-21 03:00:19
3287529,37,1,13,0,9899,1716260421,2992.0,187.0,2024-05-21 03:00:21
...,...,...,...,...,...,...,...,...,...
3341234,37,0,13,0,226580,1716334795,968.0,1643.0,2024-05-21 23:39:55
3341244,37,1,13,0,228454,1716334797,968.0,1643.0,2024-05-21 23:39:57
3341249,37,0,13,0,228580,1716334797,968.0,1643.0,2024-05-21 23:39:57
3341259,17,1,13,0,230201,1716334799,968.0,1643.0,2024-05-21 23:39:59
3341264,17,0,13,0,230254,1716334799,968.0,1643.0,2024-05-21 23:39:59

In [9]:
def find_all_trial_pokes(df, start_event=81, event_list=[18, 19, 20, 21, 20, 37, 17]):
    
    # Reset the index to ensure it's continuous integers
    df = df.reset_index(drop=True)
    
    # Find the row where event == 81
    start_rows = df[df['event'] == start_event].index

    if len(start_rows) == 0:
        return None, None  # No start event found
    
    results = [] # to store start and end pairs

    for start_row in start_rows:
        # Move upward to find the first row with event in the range [18, 21] and value == 1
        for i in range(start_row, -1, -1):
            if df.loc[i, 'event'] in event_list and df.loc[i, 'value'] == 1:
                first_event_row = i
                break
        else:
            continue  # If no event in range found, continue to next '81'

        # Move downward to find the first row with the same event but value == 0
        for j in range(first_event_row, len(df)):
            if df.loc[j, 'event'] == df.loc[first_event_row, 'event'] and df.loc[j, 'value'] == 0:
                # Append the start and end rows from the original DataFrame
                results.append(df.loc[first_event_row])
                results.append(df.loc[j])
                break

    # Create a DataFrame from the results
    result_df = pd.DataFrame(results)

    return result_df

In [10]:
# Usage
#start_row, end_row = find_first_event(sample_df)
master_trial_pokes_df = find_all_trial_pokes(filtered_events)

In [112]:
# FOR DEBUGGING
#master_trial_pokes_df
#master_trial_pokes_df[master_trial_pokes_df['human_time'].dt.date == pd.to_datetime('2024-05-22').date()]

specific_date = '2024-08-10'
start_time = '23:00:00'
end_time = '23:59:59'
master_trial_pokes_df[
    (master_trial_pokes_df['human_time'].dt.date == pd.to_datetime(specific_date).date()) & #&
    #(master_trial_pokes_df['human_time'].dt.time >= pd.to_datetime(start_time).time()) #&
    #(master_trial_pokes_df['human_time'].dt.time <= pd.to_datetime(end_time).time()) #&
    (master_trial_pokes_df['eptime_adjusted'] >= 1723317411) &
    (master_trial_pokes_df['eptime_adjusted'] <= 1723317658) #&
    #(master_trial_pokes_df['value'] == 1)
].head(40)

,event,value,sm,tp,smtime,eptime,dw,ww,human_time,eptime_adjusted
631827,20,1.0000,13.0000,0.0000,1002134.0000,1723317414,183.0000,2183.0000,2024-08-10 19:16:54,1723317413.1340
631830,20,0.0000,13.0000,0.0000,1002163.0000,1723317414,183.0000,2183.0000,2024-08-10 19:16:54,1723317413.1630
631832,19,1.0000,13.0000,0.0000,1003809.0000,1723317415,183.0000,2183.0000,2024-08-10 19:16:55,1723317414.8090
631835,19,0.0000,13.0000,0.0000,1003835.0000,1723317415,183.0000,2183.0000,2024-08-10 19:16:55,1723317414.8350
631837,19,1.0000,13.0000,0.0000,1005906.0000,1723317418,184.0000,2184.0000,2024-08-10 19:16:58,1723317416.9060
631840,19,0.0000,13.0000,0.0000,1005953.0000,1723317418,184.0000,2184.0000,2024-08-10 19:16:58,1723317416.9530
631842,19,1.0000,13.0000,0.0000,1007938.0000,1723317420,185.0000,2185.0000,2024-08-10 19:17:00,1723317418.9380
631845,19,0.0000,13.0000,0.0000,1007950.0000,1723317420,185.0000,2185.0000,2024-08-10 19:17:00,1723317418.9500
631847,19,1.0000,13.0000,0.0000,1010115.0000,1723317422,186.0000,2186.0000,2024-08-10 19:17:02,1723317421.1150
631850,19,0.0000,13.0000,0.0000,1010160.0000,1723317422,186.0000,2186.0000,2024-08-10 19:17:02,1723317421.1600
631852,19,1.0000,13.0000,0.0000,1012268.0000,1723317424,187.0000,2187.0000,2024-08-10 19:17:04,1723317423.2680
631855,19,0.0000,13.0000,0.0000,1012285.0000,1723317424,187.0000,2187.0000,2024-08-10 19:17:04,1723317423.2850
631857,19,1.0000,13.0000,0.0000,1013666.0000,1723317425,187.0000,2187.0000,2024-08-10 19:17:05,1723317424.6660
631860,19,0.0000,13.0000,0.0000,1013676.0000,1723317425,187.0000,2187.0000,2024-08-10 19:17:05,1723317424.6760
631862,19,1.0000,13.0000,0.0000,1014976.0000,1723317427,187.0000,2187.0000,2024-08-10 19:17:07,1723317425.9760
631865,19,0.0000,13.0000,0.0000,1015010.0000,1723317427,187.0000,2187.0000,2024-08-10 19:17:07,1723317426.0100
631867,19,1.0000,13.0000,0.0000,1016898.0000,1723317429,188.0000,2188.0000,2024-08-10 19:17:09,1723317427.8980
631870,19,0.0000,13.0000,0.0000,1016932.0000,1723317429,188.0000,2188.0000,2024-08-10 19:17:09,1723317427.9320
631872,19,1.0000,13.0000,0.0000,1018830.0000,1723317430,189.0000,2189.0000,2024-08-10 19:17:10,1723317429.8300
631875,19,0.0000,13.0000,0.0000,1018871.0000,1723317431,189.0000,2189.0000,2024-08-10 19:17:11,1723317429.8710
631877,19,1.0000,13.0000,0.0000,1021131.0000,1723317433,190.0000,2190.0000,2024-08-10 19:17:13,1723317432.1310
631880,19,0.0000,13.0000,0.0000,1021155.0000,1723317433,190.0000,2190.0000,2024-08-10 19:17:13,1723317432.1550
631882,19,1.0000,13.0000,0.0000,1023374.0000,1723317435,191.0000,2191.0000,2024-08-10 19:17:15,1723317434.3740
631885,19,0.0000,13.0000,0.0000,1023393.0000,1723317435,191.0000,2191.0000,2024-08-10 19:17:15,1723317434.3930
631889,19,1.0000,13.0000,0.0000,1025474.0000,1723317437,192.0000,2192.0000,2024-08-10 19:17:17,1723317436.4740
631892,19,0.0000,13.0000,0.0000,1025521.0000,1723317437,192.0000,2192.0000,2024-08-10 19:17:17,1723317436.5210
631894,19,1.0000,13.0000,0.0000,1027558.0000,1723317439,193.0000,2193.0000,2024-08-10 19:17:19,1723317438.5580
631897,19,0.0000,13.0000,0.0000,1027641.0000,1723317439,193.0000,2193.0000,2024-08-10 19:17:19,1723317438.6410
631899,19,1.0000,13.0000,0.0000,1029780.0000,1723317441,194.0000,2194.0000,2024-08-10 19:17:21,1723317440.7800
631902,19,0.0000,13.0000,0.0000,1029810.0000,1723317441,194.0000,2194.0000,2024-08-10 19:17:21,1723317440.8100
631904,19,1.0000,13.0000,0.0000,1031443.0000,1723317443,195.0000,2195.0000,2024-08-10 19:17:23,1723317442.4430
631907,19,0.0000,13.0000,0.0000,1031466.0000,1723317443,195.0000,2195.0000,2024-08-10 19:17:23,1723317442.4660
631909,19,1.0000,13.0000,0.0000,1032941.0000,1723317445,195.0000,2195.0000,2024-08-10 19:17:25,1723317443.9410
631912,19,0.0000,13.0000,0.0000,1032979.0000,1723317445,195.0000,2195.0000,2024-08-10 19:17:25,1723317443.9790
631914,19,1.0000,13.0000,0.0000,1034919.0000,1723317447,196.0000,2196.0000,2024-08-10 19:17:27,1723317445.9190
631917,19,0.0000,13.0000,0.0000,1034946.0000,1723317447,196.0000,2196.0000,2024-08-10 19:17:27,1723317445.9460
631919,19,1.0000,13.0000,0.0000,1036930.0000,1723317449,197.0000,2197.0000,2024-08-10 19:17:29,1723317447.9300
631922,19,0.0000,13.0000,0.0000,1036980.0000,1723317449,197.0000,2197.0000,2024-08-10 19:17:29,1723317447.9800
631924,19,1.0000,13.0000,0.0000,1039206.0000,1723317451,198.0000,2198.0000,2024-08-10 19:17:31,1723317450.2060
631927,19,0.0000,13.0000,0.0000,1039241.0000,1723317451,198.0000,2198.0000,2024-08-10 19:17:31,1723317450.2410

In [85]:
master_trial_pokes_df.head(3)

,event,value,sm,tp,smtime,eptime,dw,ww,human_time,eptime_adjusted
5,20,1.0000,13.0000,0.0000,2909.0000,1714619829,411.0000,2095.0000,2024-05-02 03:17:09,1714619831.9090
8,20,0.0000,13.0000,0.0000,2943.0000,1714619829,411.0000,2095.0000,2024-05-02 03:17:09,1714619831.9430
10,20,1.0000,13.0000,0.0000,4860.0000,1714619831,412.0000,2096.0000,2024-05-02 03:17:11,1714619835.8600

In [56]:
import pandas as pd
import numpy as np

def find_all_trial_pokes_v2(df, start_event=81, event_list=[18, 19, 20, 21]):
    # Reset the index to ensure continuity
    df = df.reset_index(drop=True)

    # Extract relevant columns as NumPy arrays for faster operations
    event_array = df['event'].to_numpy()
    value_array = df['value'].to_numpy()

    # Identify indices of start_event and event_list
    start_indices = np.where(event_array == start_event)[0]
    relevant_indices = np.where(np.isin(event_array, event_list))[0]

    if len(start_indices) == 0 or len(relevant_indices) == 0:
        return None  # No start events or relevant events found

    # Initialize lists to store results
    start_rows = []
    end_rows = []

    for start_index in start_indices:
        # Find the largest relevant index less than the start index
        earlier_relevant_indices = relevant_indices[relevant_indices < start_index]
        if earlier_relevant_indices.size == 0:
            continue
        first_event_index = earlier_relevant_indices[-1]

        # Ensure the value at the first event is 1
        if value_array[first_event_index] != 1:
            continue

        # Find the first matching event with value == 0 after the first_event_index
        later_indices = np.where(
            (event_array[first_event_index + 1:] == event_array[first_event_index]) & 
            (value_array[first_event_index + 1:] == 0)
        )[0]
        if later_indices.size == 0:
            continue
        end_index = first_event_index + 1 + later_indices[0]

        # Append start and end indices
        start_rows.append(first_event_index)
        end_rows.append(end_index)

    # Combine start and end indices
    all_indices = np.array(start_rows + end_rows)

    # Extract rows in bulk using NumPy indexing
    result_df = df.iloc[all_indices].reset_index(drop=True)

    return result_df

In [57]:
master_trial_pokes_df_v2 = find_all_trial_pokes_v2(filtered_events)

KeyboardInterrupt:

# generate camera_df

session_camera_df generated is day specific, as opposed to all-encompassing master_trial_pokes_df

In [14]:
# read nosepokes file
sessdf = pd.read_csv('L:/4portProb_processed/sessdf.csv')

# get event times from sessdf file
event_times = sessdf[sessdf.animal==animal].eptime

# format event dates as video names
event_dates = pd.Series(sessdf[sessdf.animal==animal]['datetime'].astype('datetime64[ms]').dt.date.unique(),
                        dtype = 'datetime64[ms]').dt.strftime('%Y%m%d')

# session times - can subselect events using this
# session_times = [[(19, 0, 0), (19, 40, 0)], [(23, 0, 0), (23, 40, 0)], [(3, 0, 0), (3, 40, 0)]]

# get files
event_files = sorted(get_files(log_folder = f'K:/{expt}/{box}/{animal}/Video/{date}', extension=".events"))
frames_files = sorted(get_files(log_folder = f'K:/{expt}/{box}/{animal}/Video/{date}', extension=".frames"))

In [15]:
def gen_camera_df(event_files, sessdf):
    
    # generate dataframe of data from camera event files
    data = []
    cam_frame_start = []
    
    for filename in event_files:
        events = pd.read_csv(filename, names=['pinstatus', 'camtime', 'pitime'], skiprows=1)
        with open(filename.rstrip('events')+'frames') as f:
            cam_frame_start.append(f.readline().strip('\n'))
        frames = pd.read_csv(filename.rstrip('events')+'frames', skiprows=1)
        events['filename'] = os.path.basename(filename)
        data.append(events)

    cam_frame_start = [float(x) for x in cam_frame_start]
    
    # generate dataframe of data from camera frames
    camera_df = pd.concat(data, ignore_index=True)
    # frames = pd.concat(frame_data)
    camera_df['rec_time'] = camera_df.filename.apply(lambda x: x[4:9]).astype(int)
    camera_df['human_time'] = pd.to_datetime(camera_df.pitime, unit='s')
    camera_df['vid_start'] = np.nan
    camera_df.iloc[camera_df.groupby('filename').head(1).index, -1] = cam_frame_start
    camera_df['vid_start'].ffill(inplace = True)
    sessdf['human_time'] = np.array(sessdf['datetime'], dtype='datetime64[ns]')
    
    return camera_df

In [16]:
data = []
event_dates = [date]
for date in event_dates:
    event_files = sorted(get_files(log_folder = f'K:/{expt}/{box}/{animal}/Video/{date}', extension=".events"))
    date_camera_df = gen_camera_df(event_files, sessdf)
    data.append(date_camera_df)
camera_df = pd.concat(data, ignore_index = True)

In [17]:
# Get frame IDs for each event in the dataframe
frame_idx = []
for i in range(len(frames_files)):
    # Load frames file
    frames = np.loadtxt(frames_files[i])

    # Turn all frames into camera time
    frames = frames[0] + frames[1:]

    # Get events filename to match
    event_fname = frames_files[i].rstrip('frames') + 'events'

    # Search for nearest frame for each event
    events_in_vid = camera_df[camera_df['filename'] == event_fname].camtime

    # Handle cases where no matching frame exists
    frame_idx.append([np.where(frames <= i)[0].max() if (frames <= i).any() else -1 for i in events_in_vid])

# Add information to df by flattening the frame_idx list
camera_df['frame_idx'] = [idx for l_idx in frame_idx for idx in l_idx]

# Reorder columns
camera_df_order = ['pinstatus', 'camtime', 'pitime', 'frame_idx', 'vid_start', 'filename', 'rec_time', 'human_time']
camera_df = camera_df[camera_df_order]

# Extract the time component from 'human_time'
camera_df['time_only'] = camera_df['human_time'].dt.time

In [18]:
# Define time periods (independent of date)
from datetime import time

time_period_1_start = time(2, 59, 45)
time_period_1_end = time(3, 40, 00)

time_period_2_start = time(18, 59, 45)
time_period_2_end = time(19, 40, 00)

time_period_3_start = time(22, 59, 45)
time_period_3_end = time(23, 40, 00)

# Filter the DataFrame to include observations only within these time periods
session_camera_df = camera_df[
    ((camera_df['time_only'] >= time_period_1_start) & (camera_df['time_only'] <= time_period_1_end)) |
    ((camera_df['time_only'] >= time_period_2_start) & (camera_df['time_only'] <= time_period_2_end)) |
    ((camera_df['time_only'] >= time_period_3_start) & (camera_df['time_only'] <= time_period_3_end))
]

# Drop the 'time_only' column to return the original structure
session_camera_df = session_camera_df.drop(columns=['time_only'])

In [19]:
session_camera_df.head(5)

,pinstatus,camtime,pitime,frame_idx,vid_start,filename,rec_time,human_time
74,1,1321851318797,1.723259e+09,233,1.321849e+12,v90-10802.events,10802,2024-08-10 03:00:02.388914432
75,0,1321851359417,1.723259e+09,237,1.321849e+12,v90-10802.events,10802,2024-08-10 03:00:02.429612288
76,1,1321851596118,1.723259e+09,258,1.321849e+12,v90-10802.events,10802,2024-08-10 03:00:02.666318336
77,0,1321851630053,1.723259e+09,261,1.321849e+12,v90-10802.events,10802,2024-08-10 03:00:02.700525056
78,1,1321851704301,1.723259e+09,268,1.321849e+12,v90-10802.events,10802,2024-08-10 03:00:02.774470144

In [61]:
session_camera_df[(session_camera_df["filename"] == 'v90-69411.events') & (session_camera_df['pinstatus'] == 1)].head(30)

,pinstatus,camtime,pitime,frame_idx,vid_start,filename,rec_time,human_time
15168,1,1380460630607,1.723317e+09,223,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:51.087642112
15170,1,1380460765622,1.723317e+09,235,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:51.222712576
15172,1,1380461584009,1.723317e+09,309,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:52.042382848
15174,1,1380462147497,1.723317e+09,359,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:52.599043840
15176,1,1380462184058,1.723317e+09,363,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:52.635678720
15178,1,1380462288003,1.723317e+09,372,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:52.739585280
15180,1,1380462411973,1.723317e+09,383,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:52.863580160
15182,1,1380462535283,1.723317e+09,394,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:52.988335616
15184,1,1380462686492,1.723317e+09,408,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:53.138008832
15186,1,1380462862730,1.723317e+09,424,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:53.314278656
15188,1,1380463042941,1.723317e+09,440,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:53.494611456
15190,1,1380463236359,1.723317e+09,457,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:53.688207616
15192,1,1380463904588,1.723317e+09,518,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:54.356168448
15194,1,1380464454332,1.723317e+09,567,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:54.905847552
15196,1,1380464650582,1.723317e+09,585,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:55.102256896
15198,1,1380464802545,1.723317e+09,598,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:55.255184384
15200,1,1380465579209,1.723317e+09,668,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:56.030955264
15202,1,1380466079464,1.723317e+09,714,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:56.531231744
15204,1,1380466136565,1.723317e+09,719,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:56.588139008
15206,1,1380466199283,1.723317e+09,724,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:56.650894336
15208,1,1380466315091,1.723317e+09,735,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:56.766668288
15210,1,1380466442245,1.723317e+09,746,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:56.893872384
15212,1,1380466600271,1.723317e+09,760,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:57.052298240
15214,1,1380466774702,1.723317e+09,776,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:57.226584832
15216,1,1380466964909,1.723317e+09,793,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:57.416668928
15218,1,1380467675428,1.723317e+09,857,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:58.128161280
15220,1,1380468255257,1.723317e+09,910,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:58.706790144
15222,1,1380468371425,1.723317e+09,920,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:58.822967808
15224,1,1380468496020,1.723317e+09,931,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:58.948872448
15226,1,1380468633755,1.723317e+09,944,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:59.085673728

In [ ]:
# FOR DEBUGGING
session_camera_df[
    (session_camera_df['human_time'].dt.date == pd.to_datetime(specific_date).date()) &
    (session_camera_df['human_time'].dt.time >= pd.to_datetime(start_time).time()) &
    (session_camera_df['human_time'].dt.time <= pd.to_datetime(end_time).time()) #&
    #(session_camera_df['eptime'] >= 1716418890) &
    #(session_camera_df['eptime'] <= 1716418910)
]

# calculate time differences in both dfs

In [20]:
session_camera_df_diff = round(session_camera_df.camtime.diff()/1000) #diff calculated for each pair of 22 1 and 0, in .events file. 
session_camera_df_diff = session_camera_df_diff.to_frame()
session_camera_df_diff.head(20)

    camtime
74      NaN
75     41.0
76    237.0
77     34.0
78     74.0
79     29.0
80     53.0
81     34.0
82    104.0
83     43.0
84   2726.0
85     24.0
86    101.0
87     45.0
88    222.0
89     50.0
90     56.0
91     92.0
92     89.0
93     51.0

In [64]:
trial_pokes_df = master_trial_pokes_df[master_trial_pokes_df['human_time'].dt.date == pd.to_datetime(formatted_date).date()]
trial_pokes_df_diff = trial_pokes_df.smtime.diff()
trial_pokes_df_diff = trial_pokes_df_diff.to_frame()
trial_pokes_df_diff.head(20)

        smtime
624146     NaN
624149    44.0
624151  1415.0
624154    50.0
624156  2204.0
624159    12.0
624161  2881.0
624164    61.0
624166  2068.0
624169    30.0
624171  1209.0
624174    45.0
624176  1963.0
624179    25.0
624181  1574.0
624184    62.0
624186  1424.0
624189    11.0
624191  1936.0
624194    34.0

In [65]:
# FOR DEBUGGING
start_time = '19:16:50'
end_time = '19:18:00'

trial_pokes_df[
    (trial_pokes_df['human_time'].dt.time >= pd.to_datetime(start_time).time()) &
    (trial_pokes_df['human_time'].dt.time <= pd.to_datetime(end_time).time())
].head(50)

,event,value,sm,tp,smtime,eptime,dw,ww,human_time
631578,19,1.0,13.0,0.0,999811.0,1723317411,182.0,2182.0,2024-08-10 19:16:51
631581,19,0.0,13.0,0.0,999873.0,1723317412,182.0,2182.0,2024-08-10 19:16:52
631583,20,1.0,13.0,0.0,1002134.0,1723317414,183.0,2183.0,2024-08-10 19:16:54
631586,20,0.0,13.0,0.0,1002163.0,1723317414,183.0,2183.0,2024-08-10 19:16:54
631588,19,1.0,13.0,0.0,1003809.0,1723317415,183.0,2183.0,2024-08-10 19:16:55
631591,19,0.0,13.0,0.0,1003835.0,1723317415,183.0,2183.0,2024-08-10 19:16:55
631593,19,1.0,13.0,0.0,1005906.0,1723317418,184.0,2184.0,2024-08-10 19:16:58
631596,19,0.0,13.0,0.0,1005953.0,1723317418,184.0,2184.0,2024-08-10 19:16:58
631598,19,1.0,13.0,0.0,1007938.0,1723317420,185.0,2185.0,2024-08-10 19:17:00
631601,19,0.0,13.0,0.0,1007950.0,1723317420,185.0,2185.0,2024-08-10 19:17:00
631603,19,1.0,13.0,0.0,1010115.0,1723317422,186.0,2186.0,2024-08-10 19:17:02
631606,19,0.0,13.0,0.0,1010160.0,1723317422,186.0,2186.0,2024-08-10 19:17:02
631608,19,1.0,13.0,0.0,1012268.0,1723317424,187.0,2187.0,2024-08-10 19:17:04
631611,19,0.0,13.0,0.0,1012285.0,1723317424,187.0,2187.0,2024-08-10 19:17:04
631613,19,1.0,13.0,0.0,1013666.0,1723317425,187.0,2187.0,2024-08-10 19:17:05
631616,19,0.0,13.0,0.0,1013676.0,1723317425,187.0,2187.0,2024-08-10 19:17:05
631618,19,1.0,13.0,0.0,1014976.0,1723317427,187.0,2187.0,2024-08-10 19:17:07
631621,19,0.0,13.0,0.0,1015010.0,1723317427,187.0,2187.0,2024-08-10 19:17:07
631623,19,1.0,13.0,0.0,1016898.0,1723317429,188.0,2188.0,2024-08-10 19:17:09
631626,19,0.0,13.0,0.0,1016932.0,1723317429,188.0,2188.0,2024-08-10 19:17:09
631628,19,1.0,13.0,0.0,1018830.0,1723317430,189.0,2189.0,2024-08-10 19:17:10
631631,19,0.0,13.0,0.0,1018871.0,1723317431,189.0,2189.0,2024-08-10 19:17:11
631633,19,1.0,13.0,0.0,1021131.0,1723317433,190.0,2190.0,2024-08-10 19:17:13
631636,19,0.0,13.0,0.0,1021155.0,1723317433,190.0,2190.0,2024-08-10 19:17:13
631638,19,1.0,13.0,0.0,1023374.0,1723317435,191.0,2191.0,2024-08-10 19:17:15
631641,19,0.0,13.0,0.0,1023393.0,1723317435,191.0,2191.0,2024-08-10 19:17:15
631645,19,1.0,13.0,0.0,1025474.0,1723317437,192.0,2192.0,2024-08-10 19:17:17
631648,19,0.0,13.0,0.0,1025521.0,1723317437,192.0,2192.0,2024-08-10 19:17:17
631650,19,1.0,13.0,0.0,1027558.0,1723317439,193.0,2193.0,2024-08-10 19:17:19
631653,19,0.0,13.0,0.0,1027641.0,1723317439,193.0,2193.0,2024-08-10 19:17:19
631655,19,1.0,13.0,0.0,1029780.0,1723317441,194.0,2194.0,2024-08-10 19:17:21
631658,19,0.0,13.0,0.0,1029810.0,1723317441,194.0,2194.0,2024-08-10 19:17:21
631660,19,1.0,13.0,0.0,1031443.0,1723317443,195.0,2195.0,2024-08-10 19:17:23
631663,19,0.0,13.0,0.0,1031466.0,1723317443,195.0,2195.0,2024-08-10 19:17:23
631665,19,1.0,13.0,0.0,1032941.0,1723317445,195.0,2195.0,2024-08-10 19:17:25
631668,19,0.0,13.0,0.0,1032979.0,1723317445,195.0,2195.0,2024-08-10 19:17:25
631670,19,1.0,13.0,0.0,1034919.0,1723317447,196.0,2196.0,2024-08-10 19:17:27
631673,19,0.0,13.0,0.0,1034946.0,1723317447,196.0,2196.0,2024-08-10 19:17:27
631675,19,1.0,13.0,0.0,1036930.0,1723317449,197.0,2197.0,2024-08-10 19:17:29
631678,19,0.0,13.0,0.0,1036980.0,1723317449,197.0,2197.0,2024-08-10 19:17:29
631680,19,1.0,13.0,0.0,1039206.0,1723317451,198.0,2198.0,2024-08-10 19:17:31
631683,19,0.0,13.0,0.0,1039241.0,1723317451,198.0,2198.0,2024-08-10 19:17:31
631685,19,1.0,13.0,0.0,1040647.0,1723317452,198.0,2198.0,2024-08-10 19:17:32
631688,19,0.0,13.0,0.0,1040675.0,1723317452,198.0,2198.0,2024-08-10 19:17:32
631690,19,1.0,13.0,0.0,1042451.0,1723317454,199.0,2199.0,2024-08-10 19:17:34
631693,19,0.0,13.0,0.0,1042466.0,1723317454,199.0,2199.0,2024-08-10 19:17:34
631695,19,1.0,13.0,0.0,1044069.0,1723317456,199.0,2199.0,2024-08-10 19:17:36
631698,19,0.0,13.0,0.0,1044116.0,1723317456,199.0,2199.0,2024-08-10 19:17:36
631702,19,1.0,13.0,0.0,1046153.0,1723317458,200.0,2200.0,2024-08-10 19:17:38
631705,19,0.0,13.0,0.0,1046228.0,1723317458,200.0,2200.0,2024-08-10 19:17:38

# Filter cam_df based matches from dat_df

In [22]:
import pandas as pd

def find_matches(camtime: pd.DataFrame, sample_date_diff: pd.DataFrame) -> pd.DataFrame:
    # Initialize list to store matches
    matches = []
    
    # Keep track of the indices in sample_date_diff that have been used
    used_indices = set()

    # Iterate over the camtime DataFrame
    for camtime_index, camtime_value in camtime.itertuples():
        # Find matching rows in smtime within Â±1 range, excluding previously used rows
        matching_rows = sample_date_diff[(sample_date_diff['smtime'] >= camtime_value - 1) & 
                                         (sample_date_diff['smtime'] <= camtime_value + 1) &
                                         (~sample_date_diff.index.isin(used_indices))]
        
        if not matching_rows.empty:
            # Store the first available match based on order
            match = matching_rows.iloc[0]
            
            # Record the match and mark this smtime index as used
            matches.append((camtime_index, camtime_value, match.name, match['smtime']))
            used_indices.add(match.name)

    # Convert the matches to a DataFrame
    matches_df = pd.DataFrame(matches, columns=['camtime_index', 'camtime_value', 'smtime_index', 'smtime_value'])

    return matches_df

In [40]:
import pandas as pd

def find_matches_v2(camtime: pd.DataFrame, sample_date_diff: pd.DataFrame) -> pd.DataFrame:
    # Sort both DataFrames by relevant columns
    camtime = camtime.sort_values(by='camtime').reset_index()
    sample_date_diff = sample_date_diff.sort_values(by='smtime').reset_index()

    # Initialize pointers and matches list
    matches = []
    smtime_idx = 0  # Pointer for sample_date_diff

    # Iterate over camtime
    for cam_idx, cam_value in camtime[['index', 'camtime']].itertuples(index=False):
        while smtime_idx < len(sample_date_diff) and sample_date_diff.loc[smtime_idx, 'smtime'] < cam_value - 1:
            smtime_idx += 1  # Move pointer forward if smtime is too small

        # Check if current smtime is within range
        if smtime_idx < len(sample_date_diff) and cam_value - 1 <= sample_date_diff.loc[smtime_idx, 'smtime'] <= cam_value + 1:
            matches.append((cam_idx, cam_value, sample_date_diff.loc[smtime_idx, 'index'], sample_date_diff.loc[smtime_idx, 'smtime']))
            smtime_idx += 1  # Advance pointer to avoid reusing the same smtime

    # Convert matches to DataFrame
    matches_df = pd.DataFrame(matches, columns=['camtime_index', 'camtime_value', 'smtime_index', 'smtime_value'])

    return matches_df

In [41]:
matches_df = find_matches_v2(session_camera_df_diff, trial_pokes_df_diff)
#matches_df.head(20)
filtered_matches_df = matches_df[(matches_df['camtime_value'] <= 1000) & (matches_df['smtime_value'] <= 1000)]
filtered_matches_df = filtered_matches_df[filtered_matches_df['camtime_index'] % 2 != 0]

In [42]:
filtered_matches_df.head(50)

    camtime_index  camtime_value  smtime_index  smtime_value
0            7607            8.0        631298           8.0
1            9761            9.0        629826           8.0
2           20571           10.0        625671           9.0
3             257           10.0        625383           9.0
4            8335           10.0        625686          10.0
5            1445           11.0        631616          10.0
6           23571           11.0        633598          10.0
7             181           11.0        631365          10.0
8           15271           11.0        631390          10.0
10           1147           11.0        637005          11.0
11          22033           11.0        626109          11.0
12           5471           11.0        634220          11.0
13           1161           12.0        628231          11.0
14          18635           12.0        635841          11.0
15          15235           12.0        624189          11.0
16            377           12.0        625735          12.0
17            591           12.0        636306          12.0
18          15925           12.0        635836          12.0
19          25005           12.0        631601          12.0
20           4813           13.0        625413          12.0
21          26311           13.0        624602          12.0
22           6093           14.0        635708          13.0
23            755           14.0        631857          13.0
24          17305           14.0        624495          13.0
25           1429           14.0        627973          13.0
26          19819           14.0        624304          13.0
27           2745           14.0        632334          13.0
29          18799           14.0        624234          14.0
30          19223           14.0        628460          14.0
31          17217           14.0        635923          14.0
32            959           14.0        627011          14.0
33           5251           14.0        624428          14.0
34          16103           14.0        631922          14.0
35           9395           14.0        624361          14.0
37           3043           15.0        632314          14.0
38          26725           15.0        636515          14.0
39            827           15.0        625824          14.0
40          26711           15.0        629637          14.0
41           2761           15.0        625111          14.0
42          16997           15.0        624986          14.0
43          19771           15.0        635465          14.0
44          22949           15.0        625611          14.0
45           9555           15.0        629751          14.0
46            855           15.0        625691          14.0
48          14179           15.0        625319          14.0
51          17259           15.0        633089          14.0
53          17275           15.0        636505          15.0
54          26905           15.0        626518          15.0
55          16153           15.0        635572          15.0
56          13981           15.0        629947          15.0

#### rough work on new matching algorithm

In [55]:
import pandas as pd

# Assuming camdf and datdf are your dataframes and both have a column named 'number'

# Create a list to store the matching indices
matches = []

# Create a copy of camdf to track available rows
camdf_copy = session_camera_df_diff.copy()

# Iterate over each row in datdf
for dat_idx, dat_value in trial_pokes_df_diff['smtime'].iteritems():
    # Find the first row in camdf that is within +10 or -10 of the datdf value
    match_idx = camdf_copy[(camdf_copy['camtime'] >= dat_value - 10) & 
                           (camdf_copy['camtime'] <= dat_value + 10)].index
    
    if not match_idx.empty:
        # Get the index of the first match
        first_match = match_idx[0]
        # Store the match
        matches.append((dat_idx, first_match))
        # Block the matched row in camdf_copy
        camdf_copy = camdf_copy.drop(first_match)

# Convert the matches to a dataframe
matches_df = pd.DataFrame(matches, columns=['datdf_index', 'camdf_index'])

##### attempt 2

In [87]:
import pandas as pd

# Step 1: Find the first row in datdf where the value is greater than 1000
first_row_idx = trial_pokes_df_diff[trial_pokes_df_diff['smtime'] > 1000].index[0]
print(first_row_idx)

first_row_position = trial_pokes_df_diff.index.get_loc(first_row_idx)
print(first_row_position)

# Step 2: Remove alternate rows starting from the first row found (both forward and backward)
# Create a range of indices starting from the first_row_idx, moving both forward and backward by 2
forward_indices = list(range(first_row_position, trial_pokes_df_diff.index[-1] + 1, 2))
backward_indices = list(range(first_row_position, trial_pokes_df_diff.index[0] - 1, -2))

# Combine forward and backward indices
positions_to_remove = forward_indices + backward_indices

# Step 4: Ensure that we only remove rows within the actual index range of datdf
positions_to_remove = [pos for pos in positions_to_remove if 0 <= pos < len(trial_pokes_df_diff)]

index_to_remove = trial_pokes_df_diff.index[positions_to_remove]

# Drop the alternate rows from datdf
datdf_filtered = trial_pokes_df_diff.drop(index_to_remove)

534131
2

In [155]:
session_camera_df_diff.head(10)

    camtime
28      NaN
29     29.0
30     70.0
31    831.0
32   2065.0
33     96.0
34   1735.0
35     44.0
36  12723.0
37     96.0

In [126]:
camdf_copy = session_camera_df_diff.copy()
camdf_copy[camdf_copy.index > 33].index[0]

34

In [137]:
datdf_filtered.iloc[1].index

Index(['smtime'], dtype='object')

In [ ]:
# Create a list to store the matching indices
matches = []

# Create a copy of camdf to track available rows
camdf_copy = session_camera_df_diff.copy()

# Keep track of the last used camdf index to ensure ordering
last_used_index = -1

first_match_done = False

used_indices = set()

# Iterate over each row in datdf
for dat_idx, dat_value in datdf_filtered['smtime'].iteritems():
    # Find rows in camdf_copy that are within +10 or -10 of the current datdf value
    # and that have an index greater than the last used camdf index
    possible_matches = camdf_copy[(camdf_copy['camtime'] >= dat_value - 10) & 
                                  (camdf_copy['camtime'] <= dat_value + 10) &
                                  (camdf_copy.index > last_used_index)].index
    
    if not possible_matches.empty:
        #print(f"{dat_idx} {dat_value}")
        #print(len(possible_matches))
        # Get the first available match after the last used index
        first_match = possible_matches[0]
        # Store the match
        matches.append((dat_idx, first_match))
        # Update the last used camdf index
        last_used_index = first_match
        used_indices.add(first_match)
        
        # Only drop even or odd indexed rows from camdf_copy based on the parity of the first matched index
        if not first_match_done:  # Check if the first match has been made
            #positional_first_match = camdf_copy.index.get_loc(first_match)
            if first_match % 2 == 0:
                camdf_copy = camdf_copy[camdf_copy.index % 2 == 0]
                print(camdf_copy.shape)# Keep only odd-indexed rows
            else:
                camdf_copy = camdf_copy[camdf_copy.index % 2 != 0]  # Keep only even-indexed rows
                print(camdf_copy.shape)
                
            first_match_done = True  # Mark that the first match has been made
            
# Convert the matches to a dataframe
matches_df_v2 = pd.DataFrame(matches, columns=['datdf_index', 'camdf_index'])

In [109]:
matches_df.shape

(4058, 2)

In [157]:
matches_df_v2.shape

(665, 2)

##### this needs a sophasticated aligning algorithm !!!

#### filter camera_df based on matches

In [43]:
import pandas as pd

def filter_camera_df(matches_df: pd.DataFrame, camera_df: pd.DataFrame) -> pd.DataFrame:
    """
    This function filters the camera_df based on the indices found in the matches_df
    and includes the previous index for each matched row, if applicable.

    :param matches_df: DataFrame containing 'camtime_index' column with matched indices
    :param camera_df: DataFrame to be filtered
    :return: Filtered DataFrame containing the matched rows and the row before each matched index
    """
    # Extract indices from the matches_df DataFrame
    indices = matches_df['camtime_index'].tolist()

    # Create a set of indices including each index and the one before it
    indices_with_previous = set(indices)  # Use a set to handle unique values

    # Add the index before each index to the set
    for idx in indices:
        if (idx - 1) in camera_df.index:  # Ensure the previous index is within the range of camera_df
            indices_with_previous.add(idx - 1)

    # Convert the set to a sorted list of indices
    sorted_indices = sorted(indices_with_previous)

    # Filter the camera_df based on the sorted indices
    filtered_camera_df = camera_df.loc[sorted_indices]

    return filtered_camera_df

In [44]:
filtered_cam_df = filter_camera_df(filtered_matches_df, session_camera_df)
#filtered_cam_df.head(50)

In [45]:
filtered_cam_df[filtered_cam_df['filename'] == 'v90-69411.events']

,pinstatus,camtime,pitime,frame_idx,vid_start,filename,rec_time,human_time
15170,1,1380460765622,1.723317e+09,235,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:51.222712576
15171,0,1380460817531,1.723317e+09,239,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:51.275532544
15172,1,1380461584009,1.723317e+09,309,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:52.042382848
15173,0,1380461642365,1.723317e+09,314,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:52.094952704
15194,1,1380464454332,1.723317e+09,567,1.380458e+12,v90-69411.events,69411,2024-08-10 19:16:54.905847552
...,...,...,...,...,...,...,...,...
16987,0,1380704308511,1.723318e+09,22178,1.380458e+12,v90-69411.events,69411,2024-08-10 19:20:54.757533184
16996,1,1380705419408,1.723318e+09,22278,1.380458e+12,v90-69411.events,69411,2024-08-10 19:20:55.868392704
16997,0,1380705434791,1.723318e+09,22280,1.380458e+12,v90-69411.events,69411,2024-08-10 19:20:55.883748864
17000,1,1380706081825,1.723318e+09,22338,1.380458e+12,v90-69411.events,69411,2024-08-10 19:20:56.531081216
17001,0,1380706130050,1.723318e+09,22342,1.380458e+12,v90-69411.events,69411,2024-08-10 19:20:56.579070976

# Merge sessdf and cam df

In [46]:
sessdf['human_time'] = np.array(sessdf['datetime'], dtype='datetime64[ns]')
sessdf = sessdf.sort_values(['human_time'])

In [47]:
master_sessdf = pd.merge_asof(filtered_cam_df[filtered_cam_df.pinstatus==1],
                              sessdf[sessdf.animal==animal],
                              on='human_time', direction='nearest')

In [48]:
# Extract the date in 'YYYYMMDD' format
master_sessdf['date'] = master_sessdf['human_time'].dt.strftime('%Y%m%d')

# Append the formatted date to the filename
master_sessdf['date-filename'] = master_sessdf['date'] + '-' + master_sessdf['filename']

# Drop the 'date' column if no longer needed
master_sessdf = master_sessdf.drop(columns='date')

In [49]:
print(master_sessdf.columns.tolist())
master_sessdf_order = ['date-filename','filename', 'frame_idx', 'port', 'reward', 'rewprob', 'task', 'animal', 'datetime', 'trial', 'trialstart', 'trialend', 'human_time', 'camtime', 'pitime', 'eptime', 'rewprobfull', 'pinstatus']
master_sessdf = master_sessdf[master_sessdf_order]
master_sessdf.head(20)

['pinstatus', 'camtime', 'pitime', 'frame_idx', 'vid_start', 'filename', 'rec_time', 'human_time', 'Unnamed: 0', 'trial', 'trialstart', 'port', 'reward', 'trialend', 'session', 'rewprob', 'eptime', 'task', 'rewprobfull', 'animal', 'datetime', 'rr', 'date-filename']

,date-filename,filename,frame_idx,port,reward,rewprob,task,animal,datetime,trial,trialstart,trialend,human_time,camtime,pitime,eptime,rewprobfull,pinstatus
0,20240810-v90-10802.events,v90-10802.events,258,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:02.666318336,1321851596118,1.723259e+09,1.723259e+09,[80 10 46 15],1
1,20240810-v90-10802.events,v90-10802.events,275,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:02.858068992,1321851786240,1.723259e+09,1.723259e+09,[80 10 46 15],1
2,20240810-v90-10805.events,v90-10805.events,273,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:06.161728512,1321855086559,1.723259e+09,1.723259e+09,[80 10 46 15],1
3,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:09.723348992,1321858642419,1.723259e+09,1.723259e+09,[80 10 46 15],1
4,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:10.004667392,1321858929565,1.723259e+09,1.723259e+09,[80 10 46 15],1
5,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:10.158952704,1321859081937,1.723259e+09,1.723259e+09,[80 10 46 15],1
6,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:10.865968128,1321859790894,1.723259e+09,1.723259e+09,[80 10 46 15],1
7,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:11.292023552,1321860216801,1.723259e+09,1.723259e+09,[80 10 46 15],1
8,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:14.547940864,1321863472928,1.723259e+09,1.723259e+09,[80 10 46 15],1
9,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:15.726594816,1321864655982,1.723259e+09,1.723259e+09,[80 10 46 15],1
10,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:15.829246720,1321864753607,1.723259e+09,1.723259e+09,[80 10 46 15],1
11,20240810-v90-10805.events,v90-10805.events,483,1.0,0.0,80.0,unstr,Vulpix,2024-08-10 03:00:17,118620,6526.0,7062.0,2024-08-10 03:00:16.133597696,1321865058581,1.723259e+09,1.723259e+09,[80 10 46 15],1
12,20240810-v90-10805.events,v90-10805.events,811,3.0,0.0,46.0,unstr,Vulpix,2024-08-10 03:00:21,118622,10239.0,10743.0,2024-08-10 03:00:20.393854976,1321869321559,1.723259e+09,1.723259e+09,[80 10 46 15],1
13,20240810-v90-10805.events,v90-10805.events,821,3.0,0.0,46.0,unstr,Vulpix,2024-08-10 03:00:21,118622,10239.0,10743.0,2024-08-10 03:00:20.495204352,1321869425237,1.723259e+09,1.723259e+09,[80 10 46 15],1
14,20240810-v90-10805.events,v90-10805.events,964,3.0,0.0,46.0,unstr,Vulpix,2024-08-10 03:00:21,118622,10239.0,10743.0,2024-08-10 03:00:22.088813568,1321871018639,1.723259e+09,1.723259e+09,[80 10 46 15],1
15,20240810-v90-10805.events,v90-10805.events,1010,1.0,1.0,80.0,unstr,Vulpix,2024-08-10 03:00:24,118623,13132.0,13682.0,2024-08-10 03:00:22.591788288,1321871521991,1.723259e+09,1.723259e+09,[80 10 46 15],1
16,20240810-v90-10805.events,v90-10805.events,1292,2.0,0.0,10.0,unstr,Vulpix,2024-08-10 03:00:26,118624,15261.0,15761.0,2024-08-10 03:00:25.730607616,1321874660641,1.723259e+09,1.723259e+09,[80 10 46 15],1
17,20240810-v90-10805.events,v90-10805.events,1315,2.0,0.0,10.0,unstr,Vulpix,2024-08-10 03:00:26,118624,15261.0,15761.0,2024-08-10 03:00:25.982889984,1321874912038,1.723259e+09,1.723259e+09,[80 10 46 15],1
18,20240810-v90-10805.events,v90-10805.events,1417,1.0,1.0,80.0,unstr,Vulpix,2024-08-10 03:00:27,118625,16500.0,17000.0,2024-08-10 03:00:27.108921344,1321876039138,1.723259e+09,1.723259e+09,[80 10 46 15],1
19,20240810-v90-10805.events,v90-10805.events,1452,1.0,1.0,80.0,unstr,Vulpix,2024-08-10 03:00:27,118625,16500.0,17000.0,2024-08-10 03:00:27.503823872,1321876433803,1.723259e+09,1.723259e+09,[80 10 46 15],1

In [52]:
master_sessdf[master_sessdf["filename"] == "v90-69411.events"]

,date-filename,filename,frame_idx,port,reward,rewprob,task,animal,datetime,trial,trialstart,trialend,human_time,camtime,pitime,eptime,rewprobfull,pinstatus
1093,20240810-v90-69411.events,v90-69411.events,235,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:16:51,120024,999812.0,1000378.0,2024-08-10 19:16:51.222712576,1380460765622,1.723317e+09,1.723317e+09,[46 10 80 15],1
1094,20240810-v90-69411.events,v90-69411.events,309,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:16:51,120024,999812.0,1000378.0,2024-08-10 19:16:52.042382848,1380461584009,1.723317e+09,1.723317e+09,[46 10 80 15],1
1095,20240810-v90-69411.events,v90-69411.events,567,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:16:55,120026,1003810.0,1004310.0,2024-08-10 19:16:54.905847552,1380464454332,1.723317e+09,1.723317e+09,[46 10 80 15],1
1096,20240810-v90-69411.events,v90-69411.events,990,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:17:00,120028,1007939.0,1008462.0,2024-08-10 19:16:59.599544320,1380469148040,1.723317e+09,1.723317e+09,[46 10 80 15],1
1097,20240810-v90-69411.events,v90-69411.events,1041,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:17:00,120028,1007939.0,1008462.0,2024-08-10 19:17:00.159750144,1380469708272,1.723317e+09,1.723317e+09,[46 10 80 15],1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246,20240810-v90-69411.events,v90-69411.events,22004,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:20:53,120150,1241783.0,1242370.0,2024-08-10 19:20:52.824940032,1380702375652,1.723318e+09,1.723318e+09,[46 10 80 15],1
1247,20240810-v90-69411.events,v90-69411.events,22111,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:20:55,120151,1243641.0,1244203.0,2024-08-10 19:20:54.010213120,1380703560950,1.723318e+09,1.723318e+09,[46 10 80 15],1
1248,20240810-v90-69411.events,v90-69411.events,22174,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:20:55,120151,1243641.0,1244203.0,2024-08-10 19:20:54.709763584,1380704260410,1.723318e+09,1.723318e+09,[46 10 80 15],1
1249,20240810-v90-69411.events,v90-69411.events,22278,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:20:55,120151,1243641.0,1244203.0,2024-08-10 19:20:55.868392704,1380705419408,1.723318e+09,1.723318e+09,[46 10 80 15],1
1250,20240810-v90-69411.events,v90-69411.events,22338,3.0,1.0,80.0,unstr,Vulpix,2024-08-10 19:20:57,120152,1245806.0,1250579.0,2024-08-10 19:20:56.531081216,1380706081825,1.723318e+09,1.723318e+09,[46 10 80 15],1